In [1]:
import numpy as np
import pandas as pd

### Import dataset from Academic Paper

In [2]:
# Read original dataset from academic paper (from Github)
original_df = pd.read_csv('Original_data.csv')

In [3]:
# Create a column that combines GVKEY with Year
original_df['gvkey_year'] = original_df['gvkey'].astype(str) + '_' + original_df['fyear'].astype(str)

In [4]:
# Store all GVKEYs in a list
gvkey_list = original_df['gvkey'].to_list()
len(gvkey_list)

146045

In [5]:
# Keep only unique GVKEYs
gvkey_set = set(gvkey_list)
len(gvkey_set)

18444

### Store GVKEY's in a text file to upload to WRDS database

In [6]:
# Define the output file path
output_file = 'gvkey_list.txt'

# Write gvkey_set to the output file
with open(output_file, 'w') as f:
    for gvkey in gvkey_set:
        f.write(str(gvkey) + '\n')

### Import dataset from WRDS for credit ratings

In [7]:
# Read credit ratings file from WRDS
ratings_df = pd.read_csv('wrds_credit_ratings.csv')

C:\Users\footb\AppData\Local\Temp\ipykernel_11500\3415646772.py:2: DtypeWarning: Columns (2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  ratings_df = pd.read_csv('wrds_credit_ratings.csv')

In [8]:
# See the types of credit ratings in the SPLTICRM column
ratings_df['splticrm'].unique()

array(['BBB', 'BBB-', 'BB-', 'BB', 'BB+', nan, 'B+', 'B', 'CCC+', 'B-',
       'A', 'A-', 'BBB+', 'CCC', 'D', 'AA+', 'AAA', 'AA', 'A+', 'CCC-',
       'AA-', 'SD', 'CC', 'N.M.', 'C'], dtype=object)

In [9]:
rating_mapping = {
    'AAA': 1, 'AA+': 2, 'AA': 3, 'AA-': 4,
    'A+': 5, 'A': 6, 'A-': 7,
    'BBB+': 8, 'BBB': 9, 'BBB-': 10,
    'BB+': 11, 'BB': 12, 'BB-': 13,
    'B+': 14, 'B': 15, 'B-': 16,
    'CCC+': 17, 'CCC': 18, 'CCC-': 19,
    'CC': 20, 'C': 21, 'SD': 22,
    'D': 23, 'N.M.': 24
}

In [10]:
# Function to apply the mapping and convert ratings to ordinal rankings
def convert_to_ordinal(rating):
    return rating_mapping.get(rating, None)

# Apply the function to create a new column with ordinal rankings
ratings_df['ordinal_ranking'] = ratings_df['splticrm'].apply(convert_to_ordinal)

In [11]:
# To get annual ratings of a company, we use the start of year rating (Jan 31)

# Convert 'datadate' to datetime format
ratings_df['datadate'] = pd.to_datetime(ratings_df['datadate'])

# Filter ratings_df to keep only January 31 values
ratings_annual_df = ratings_df[ratings_df['datadate'].dt.month == 1].copy()

# Create a year column
ratings_annual_df['year']=ratings_annual_df['datadate'].dt.year

# Create a column that combines GVKEY with Year
ratings_annual_df['gvkey_year'] = ratings_annual_df['gvkey'].astype(str) + '_' + ratings_annual_df['year'].astype(str)

In [12]:
# Sort the DataFrame by gvkey and year
ratings_annual_df.sort_values(by=['gvkey', 'year'], inplace=True)

# Calculate the change in ordinal ranking
ratings_annual_df['ordinal_ranking_change'] = ratings_annual_df.groupby('gvkey')['ordinal_ranking'].diff()

In [13]:
ratings_annual_df.head(10)

,gvkey,splticrm,spsdrm,spsticrm,datadate,cik,fyrc,ggroup,gind,gsector,...,spcindcd,spcseccd,spcsrc,conm,tic,cusip,ordinal_ranking,year,gvkey_year,ordinal_ranking_change
0,1004,BBB,NaN,NaN,1989-01-31,1750.0,5,2010.0,201010.0,20.0,...,110.0,925.0,B,AAR CORP,AIR,000361105,9.0,1989,1004_1989,NaN
12,1004,BBB,NaN,NaN,1990-01-31,1750.0,5,2010.0,201010.0,20.0,...,110.0,925.0,B,AAR CORP,AIR,000361105,9.0,1990,1004_1990,0.0
24,1004,BBB,NaN,NaN,1991-01-31,1750.0,5,2010.0,201010.0,20.0,...,110.0,925.0,B,AAR CORP,AIR,000361105,9.0,1991,1004_1991,0.0
36,1004,BBB,NaN,NaN,1992-01-31,1750.0,5,2010.0,201010.0,20.0,...,110.0,925.0,B,AAR CORP,AIR,000361105,9.0,1992,1004_1992,0.0
48,1004,BBB,NaN,NaN,1993-01-31,1750.0,5,2010.0,201010.0,20.0,...,110.0,925.0,B,AAR CORP,AIR,000361105,9.0,1993,1004_1993,0.0
60,1004,BBB,NaN,NaN,1994-01-31,1750.0,5,2010.0,201010.0,20.0,...,110.0,925.0,B,AAR CORP,AIR,000361105,9.0,1994,1004_1994,0.0
72,1004,BBB-,NaN,NaN,1995-01-31,1750.0,5,2010.0,201010.0,20.0,...,110.0,925.0,B,AAR CORP,AIR,000361105,10.0,1995,1004_1995,1.0
84,1004,BBB-,NaN,NaN,1996-01-31,1750.0,5,2010.0,201010.0,20.0,...,110.0,925.0,B,AAR CORP,AIR,000361105,10.0,1996,1004_1996,0.0
96,1004,BBB-,NaN,NaN,1997-01-31,1750.0,5,2010.0,201010.0,20.0,...,110.0,925.0,B,AAR CORP,AIR,000361105,10.0,1997,1004_1997,0.0
108,1004,BBB,NaN,NaN,1998-01-31,1750.0,5,2010.0,201010.0,20.0,...,110.0,925.0,B,AAR CORP,AIR,000361105,9.0,1998,1004_1998,-1.0

### Steps for merging dataset from Academic Paper with credit ratings data

In [14]:
# Merge original_df with ratings_annual_df based on 'gvkey_year'
merged_df = pd.merge(original_df, ratings_annual_df, on='gvkey_year', how='left')
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 146045 entries, 0 to 146044
Data columns (total 69 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   fyear                   146045 non-null  int64
 1   gvkey_x                 146045 non-null  int64
 2   p_aaer                  964 non-null     float64
 3   misstate                146045 non-null  int64
 4   act                     146045 non-null  float64
 5   ap                      146045 non-null  float64
 6   at                      146045 non-null  float64
 7   ceq                     146045 non-null  float64
 8   che                     146045 non-null  float64
 9   cogs                    146045 non-null  float64
 10  csho                    146045 non-null  float64
 11  dlc                     146045 non-null  float64
 12  dltis                   146045 non-null  float64
 13  dltt                    146045 non-null  float64
 14  dp                      146045 non-null  float64
 15  ib                      146045 non-null  float64
 16  invt                    146045 non-null  float64
 17  ivao                    146045 non-null  float64
 18  ivst                    146045 non-null  float64
 19  lct                     146045 non-null  float64
 20  lt                      146045 non-null  float64
 21  ni                      146045 non-null  float64
 22  ppegt                   146045 non-null  float64
 23  pstk                    146045 non-null  float64
 24  re                      146045 non-null  float64
 25  rect                    146045 non-null  float64
 26  sale                    146045 non-null  float64
 27  sstk                    146045 non-null  float64
 28  txp                     146045 non-null  float64
 29  txt                     146045 non-null  float64
 30  xint                    146045 non-null  float64
 31  prcc_f                  146045 non-null  float64
 32  dch_wc                  141286 non-null  float64
 33  ch_rsst                 141194 non-null  float64
 34  dch_rec                 141302 non-null  float64
 35  dch_inv                 141430 non-null  float64
 36  soft_assets             145453 non-null  float64
 37  ch_cs                   130127 non-null  float64
 38  ch_cm                   128938 non-null  float64
 39  ch_roa                  133367 non-null  float64
 40  issue                   146045 non-null  int64
 41  bm                      146027 non-null  float64
 42  dpi                     136817 non-null  float64
 43  reoa                    145454 non-null  float64
 44  EBIT                    145454 non-null  float64
 45  ch_fcf                  140638 non-null  float64
 46  gvkey_year              146045 non-null  object
 47  gvkey_y                 107494 non-null  float64
 48  splticrm                25302 non-null   object
 49  spsdrm                  2824 non-null    object
 50  spsticrm                8373 non-null    object
 51  datadate                107494 non-null  datetime64[ns]
 52  cik                     99085 non-null   float64
 53  fyrc                    107494 non-null  float64
 54  ggroup                  107357 non-null  float64
 55  gind                    107357 non-null  float64
 56  gsector                 107357 non-null  float64
 57  gsubind                 107357 non-null  float64
 58  naics                   107481 non-null  float64
 59  sic                     107494 non-null  float64
 60  spcindcd                93341 non-null   float64
 61  spcseccd                93341 non-null   float64
 62  spcsrc                  72078 non-null   object
 63  conm                    107494 non-null  object
 64  tic                     107492 non-null  object
 65  cusip                   107493 non-null  object
 66  ordinal_ranking         25302 non-null   float64
 67  year                    107494 non-null  float64
 68  ordinal_ranking_change  23141 non-null   float64
dtypes: datetime64[ns](1), float64(56), int64(4), object(8)
memory usage: 78.0+ MB

In [15]:
# Keep only the rows that have a value for the change in ordinal ranking
merged_df2 = merged_df.dropna(subset=['ordinal_ranking_change'])
merged_df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23141 entries, 8 to 146034
Data columns (total 69 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   fyear                   23141 non-null  int64
 1   gvkey_x                 23141 non-null  int64
 2   p_aaer                  266 non-null    float64
 3   misstate                23141 non-null  int64
 4   act                     23141 non-null  float64
 5   ap                      23141 non-null  float64
 6   at                      23141 non-null  float64
 7   ceq                     23141 non-null  float64
 8   che                     23141 non-null  float64
 9   cogs                    23141 non-null  float64
 10  csho                    23141 non-null  float64
 11  dlc                     23141 non-null  float64
 12  dltis                   23141 non-null  float64
 13  dltt                    23141 non-null  float64
 14  dp                      23141 non-null  float64
 15  ib                      23141 non-null  float64
 16  invt                    23141 non-null  float64
 17  ivao                    23141 non-null  float64
 18  ivst                    23141 non-null  float64
 19  lct                     23141 non-null  float64
 20  lt                      23141 non-null  float64
 21  ni                      23141 non-null  float64
 22  ppegt                   23141 non-null  float64
 23  pstk                    23141 non-null  float64
 24  re                      23141 non-null  float64
 25  rect                    23141 non-null  float64
 26  sale                    23141 non-null  float64
 27  sstk                    23141 non-null  float64
 28  txp                     23141 non-null  float64
 29  txt                     23141 non-null  float64
 30  xint                    23141 non-null  float64
 31  prcc_f                  23141 non-null  float64
 32  dch_wc                  23056 non-null  float64
 33  ch_rsst                 23052 non-null  float64
 34  dch_rec                 23102 non-null  float64
 35  dch_inv                 23085 non-null  float64
 36  soft_assets             23139 non-null  float64
 37  ch_cs                   23031 non-null  float64
 38  ch_cm                   22949 non-null  float64
 39  ch_roa                  23073 non-null  float64
 40  issue                   23141 non-null  int64
 41  bm                      23139 non-null  float64
 42  dpi                     23060 non-null  float64
 43  reoa                    23139 non-null  float64
 44  EBIT                    23139 non-null  float64
 45  ch_fcf                  23047 non-null  float64
 46  gvkey_year              23141 non-null  object
 47  gvkey_y                 23141 non-null  float64
 48  splticrm                23141 non-null  object
 49  spsdrm                  2458 non-null   object
 50  spsticrm                7740 non-null   object
 51  datadate                23141 non-null  datetime64[ns]
 52  cik                     22587 non-null  float64
 53  fyrc                    23141 non-null  float64
 54  ggroup                  23136 non-null  float64
 55  gind                    23136 non-null  float64
 56  gsector                 23136 non-null  float64
 57  gsubind                 23136 non-null  float64
 58  naics                   23141 non-null  float64
 59  sic                     23141 non-null  float64
 60  spcindcd                22181 non-null  float64
 61  spcseccd                22181 non-null  float64
 62  spcsrc                  17039 non-null  object
 63  conm                    23141 non-null  object
 64  tic                     23141 non-null  object
 65  cusip                   23141 non-null  object
 66  ordinal_ranking         23141 non-null  float64
 67  year                    23141 non-null  float64
 68  ordinal_ranking_change  23141 non-null  float64
dtypes: datetime64[ns](1), float64(56), int64(4), object(8)
memory usage: 12.4+ MB

In [16]:
merged_df2[merged_df2['misstate'] == 1].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 266 entries, 1662 to 140297
Data columns (total 69 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   fyear                   266 non-null    int64
 1   gvkey_x                 266 non-null    int64
 2   p_aaer                  266 non-null    float64
 3   misstate                266 non-null    int64
 4   act                     266 non-null    float64
 5   ap                      266 non-null    float64
 6   at                      266 non-null    float64
 7   ceq                     266 non-null    float64
 8   che                     266 non-null    float64
 9   cogs                    266 non-null    float64
 10  csho                    266 non-null    float64
 11  dlc                     266 non-null    float64
 12  dltis                   266 non-null    float64
 13  dltt                    266 non-null    float64
 14  dp                      266 non-null    float64
 15  ib                      266 non-null    float64
 16  invt                    266 non-null    float64
 17  ivao                    266 non-null    float64
 18  ivst                    266 non-null    float64
 19  lct                     266 non-null    float64
 20  lt                      266 non-null    float64
 21  ni                      266 non-null    float64
 22  ppegt                   266 non-null    float64
 23  pstk                    266 non-null    float64
 24  re                      266 non-null    float64
 25  rect                    266 non-null    float64
 26  sale                    266 non-null    float64
 27  sstk                    266 non-null    float64
 28  txp                     266 non-null    float64
 29  txt                     266 non-null    float64
 30  xint                    266 non-null    float64
 31  prcc_f                  266 non-null    float64
 32  dch_wc                  265 non-null    float64
 33  ch_rsst                 265 non-null    float64
 34  dch_rec                 266 non-null    float64
 35  dch_inv                 266 non-null    float64
 36  soft_assets             266 non-null    float64
 37  ch_cs                   265 non-null    float64
 38  ch_cm                   265 non-null    float64
 39  ch_roa                  265 non-null    float64
 40  issue                   266 non-null    int64
 41  bm                      266 non-null    float64
 42  dpi                     266 non-null    float64
 43  reoa                    266 non-null    float64
 44  EBIT                    266 non-null    float64
 45  ch_fcf                  265 non-null    float64
 46  gvkey_year              266 non-null    object
 47  gvkey_y                 266 non-null    float64
 48  splticrm                266 non-null    object
 49  spsdrm                  26 non-null     object
 50  spsticrm                112 non-null    object
 51  datadate                266 non-null    datetime64[ns]
 52  cik                     266 non-null    float64
 53  fyrc                    266 non-null    float64
 54  ggroup                  266 non-null    float64
 55  gind                    266 non-null    float64
 56  gsector                 266 non-null    float64
 57  gsubind                 266 non-null    float64
 58  naics                   266 non-null    float64
 59  sic                     266 non-null    float64
 60  spcindcd                260 non-null    float64
 61  spcseccd                260 non-null    float64
 62  spcsrc                  223 non-null    object
 63  conm                    266 non-null    object
 64  tic                     266 non-null    object
 65  cusip                   266 non-null    object
 66  ordinal_ranking         266 non-null    float64
 67  year                    266 non-null    float64
 68  ordinal_ranking_change  266 non-null    float64
dtypes: datetime64[ns](1), float64(56), int64(4), object(8)
memory usage: 145.5+ KB

In [17]:
# Drop unnecessary columns
drop_columns = ['gvkey_y','spsdrm','spsticrm','spcindcd','spcsrc']
merged_df3 = merged_df2.drop(columns=drop_columns)
merged_df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23141 entries, 8 to 146034
Data columns (total 64 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   fyear                   23141 non-null  int64
 1   gvkey_x                 23141 non-null  int64
 2   p_aaer                  266 non-null    float64
 3   misstate                23141 non-null  int64
 4   act                     23141 non-null  float64
 5   ap                      23141 non-null  float64
 6   at                      23141 non-null  float64
 7   ceq                     23141 non-null  float64
 8   che                     23141 non-null  float64
 9   cogs                    23141 non-null  float64
 10  csho                    23141 non-null  float64
 11  dlc                     23141 non-null  float64
 12  dltis                   23141 non-null  float64
 13  dltt                    23141 non-null  float64
 14  dp                      23141 non-null  float64
 15  ib                      23141 non-null  float64
 16  invt                    23141 non-null  float64
 17  ivao                    23141 non-null  float64
 18  ivst                    23141 non-null  float64
 19  lct                     23141 non-null  float64
 20  lt                      23141 non-null  float64
 21  ni                      23141 non-null  float64
 22  ppegt                   23141 non-null  float64
 23  pstk                    23141 non-null  float64
 24  re                      23141 non-null  float64
 25  rect                    23141 non-null  float64
 26  sale                    23141 non-null  float64
 27  sstk                    23141 non-null  float64
 28  txp                     23141 non-null  float64
 29  txt                     23141 non-null  float64
 30  xint                    23141 non-null  float64
 31  prcc_f                  23141 non-null  float64
 32  dch_wc                  23056 non-null  float64
 33  ch_rsst                 23052 non-null  float64
 34  dch_rec                 23102 non-null  float64
 35  dch_inv                 23085 non-null  float64
 36  soft_assets             23139 non-null  float64
 37  ch_cs                   23031 non-null  float64
 38  ch_cm                   22949 non-null  float64
 39  ch_roa                  23073 non-null  float64
 40  issue                   23141 non-null  int64
 41  bm                      23139 non-null  float64
 42  dpi                     23060 non-null  float64
 43  reoa                    23139 non-null  float64
 44  EBIT                    23139 non-null  float64
 45  ch_fcf                  23047 non-null  float64
 46  gvkey_year              23141 non-null  object
 47  splticrm                23141 non-null  object
 48  datadate                23141 non-null  datetime64[ns]
 49  cik                     22587 non-null  float64
 50  fyrc                    23141 non-null  float64
 51  ggroup                  23136 non-null  float64
 52  gind                    23136 non-null  float64
 53  gsector                 23136 non-null  float64
 54  gsubind                 23136 non-null  float64
 55  naics                   23141 non-null  float64
 56  sic                     23141 non-null  float64
 57  spcseccd                22181 non-null  float64
 58  conm                    23141 non-null  object
 59  tic                     23141 non-null  object
 60  cusip                   23141 non-null  object
 61  ordinal_ranking         23141 non-null  float64
 62  year                    23141 non-null  float64
 63  ordinal_ranking_change  23141 non-null  float64
dtypes: datetime64[ns](1), float64(54), int64(4), object(5)
memory usage: 11.5+ MB

In [18]:
# Separate p_aaer variable from merged_df4 to remove NaN values from other variables
p_aaer_df = merged_df3[['gvkey_year','p_aaer']]
merged_df4 = merged_df3.drop(columns='p_aaer')
merged_df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23141 entries, 8 to 146034
Data columns (total 63 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   fyear                   23141 non-null  int64
 1   gvkey_x                 23141 non-null  int64
 2   misstate                23141 non-null  int64
 3   act                     23141 non-null  float64
 4   ap                      23141 non-null  float64
 5   at                      23141 non-null  float64
 6   ceq                     23141 non-null  float64
 7   che                     23141 non-null  float64
 8   cogs                    23141 non-null  float64
 9   csho                    23141 non-null  float64
 10  dlc                     23141 non-null  float64
 11  dltis                   23141 non-null  float64
 12  dltt                    23141 non-null  float64
 13  dp                      23141 non-null  float64
 14  ib                      23141 non-null  float64
 15  invt                    23141 non-null  float64
 16  ivao                    23141 non-null  float64
 17  ivst                    23141 non-null  float64
 18  lct                     23141 non-null  float64
 19  lt                      23141 non-null  float64
 20  ni                      23141 non-null  float64
 21  ppegt                   23141 non-null  float64
 22  pstk                    23141 non-null  float64
 23  re                      23141 non-null  float64
 24  rect                    23141 non-null  float64
 25  sale                    23141 non-null  float64
 26  sstk                    23141 non-null  float64
 27  txp                     23141 non-null  float64
 28  txt                     23141 non-null  float64
 29  xint                    23141 non-null  float64
 30  prcc_f                  23141 non-null  float64
 31  dch_wc                  23056 non-null  float64
 32  ch_rsst                 23052 non-null  float64
 33  dch_rec                 23102 non-null  float64
 34  dch_inv                 23085 non-null  float64
 35  soft_assets             23139 non-null  float64
 36  ch_cs                   23031 non-null  float64
 37  ch_cm                   22949 non-null  float64
 38  ch_roa                  23073 non-null  float64
 39  issue                   23141 non-null  int64
 40  bm                      23139 non-null  float64
 41  dpi                     23060 non-null  float64
 42  reoa                    23139 non-null  float64
 43  EBIT                    23139 non-null  float64
 44  ch_fcf                  23047 non-null  float64
 45  gvkey_year              23141 non-null  object
 46  splticrm                23141 non-null  object
 47  datadate                23141 non-null  datetime64[ns]
 48  cik                     22587 non-null  float64
 49  fyrc                    23141 non-null  float64
 50  ggroup                  23136 non-null  float64
 51  gind                    23136 non-null  float64
 52  gsector                 23136 non-null  float64
 53  gsubind                 23136 non-null  float64
 54  naics                   23141 non-null  float64
 55  sic                     23141 non-null  float64
 56  spcseccd                22181 non-null  float64
 57  conm                    23141 non-null  object
 58  tic                     23141 non-null  object
 59  cusip                   23141 non-null  object
 60  ordinal_ranking         23141 non-null  float64
 61  year                    23141 non-null  float64
 62  ordinal_ranking_change  23141 non-null  float64
dtypes: datetime64[ns](1), float64(53), int64(4), object(5)
memory usage: 11.3+ MB

In [19]:
# Drop NaN
merged_df5 = merged_df4.dropna()
merged_df5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21393 entries, 8 to 145929
Data columns (total 63 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   fyear                   21393 non-null  int64
 1   gvkey_x                 21393 non-null  int64
 2   misstate                21393 non-null  int64
 3   act                     21393 non-null  float64
 4   ap                      21393 non-null  float64
 5   at                      21393 non-null  float64
 6   ceq                     21393 non-null  float64
 7   che                     21393 non-null  float64
 8   cogs                    21393 non-null  float64
 9   csho                    21393 non-null  float64
 10  dlc                     21393 non-null  float64
 11  dltis                   21393 non-null  float64
 12  dltt                    21393 non-null  float64
 13  dp                      21393 non-null  float64
 14  ib                      21393 non-null  float64
 15  invt                    21393 non-null  float64
 16  ivao                    21393 non-null  float64
 17  ivst                    21393 non-null  float64
 18  lct                     21393 non-null  float64
 19  lt                      21393 non-null  float64
 20  ni                      21393 non-null  float64
 21  ppegt                   21393 non-null  float64
 22  pstk                    21393 non-null  float64
 23  re                      21393 non-null  float64
 24  rect                    21393 non-null  float64
 25  sale                    21393 non-null  float64
 26  sstk                    21393 non-null  float64
 27  txp                     21393 non-null  float64
 28  txt                     21393 non-null  float64
 29  xint                    21393 non-null  float64
 30  prcc_f                  21393 non-null  float64
 31  dch_wc                  21393 non-null  float64
 32  ch_rsst                 21393 non-null  float64
 33  dch_rec                 21393 non-null  float64
 34  dch_inv                 21393 non-null  float64
 35  soft_assets             21393 non-null  float64
 36  ch_cs                   21393 non-null  float64
 37  ch_cm                   21393 non-null  float64
 38  ch_roa                  21393 non-null  float64
 39  issue                   21393 non-null  int64
 40  bm                      21393 non-null  float64
 41  dpi                     21393 non-null  float64
 42  reoa                    21393 non-null  float64
 43  EBIT                    21393 non-null  float64
 44  ch_fcf                  21393 non-null  float64
 45  gvkey_year              21393 non-null  object
 46  splticrm                21393 non-null  object
 47  datadate                21393 non-null  datetime64[ns]
 48  cik                     21393 non-null  float64
 49  fyrc                    21393 non-null  float64
 50  ggroup                  21393 non-null  float64
 51  gind                    21393 non-null  float64
 52  gsector                 21393 non-null  float64
 53  gsubind                 21393 non-null  float64
 54  naics                   21393 non-null  float64
 55  sic                     21393 non-null  float64
 56  spcseccd                21393 non-null  float64
 57  conm                    21393 non-null  object
 58  tic                     21393 non-null  object
 59  cusip                   21393 non-null  object
 60  ordinal_ranking         21393 non-null  float64
 61  year                    21393 non-null  float64
 62  ordinal_ranking_change  21393 non-null  float64
dtypes: datetime64[ns](1), float64(53), int64(4), object(5)
memory usage: 10.4+ MB

In [20]:
merged_df5[merged_df5['misstate'] == 1].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 258 entries, 1662 to 137754
Data columns (total 63 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   fyear                   258 non-null    int64
 1   gvkey_x                 258 non-null    int64
 2   misstate                258 non-null    int64
 3   act                     258 non-null    float64
 4   ap                      258 non-null    float64
 5   at                      258 non-null    float64
 6   ceq                     258 non-null    float64
 7   che                     258 non-null    float64
 8   cogs                    258 non-null    float64
 9   csho                    258 non-null    float64
 10  dlc                     258 non-null    float64
 11  dltis                   258 non-null    float64
 12  dltt                    258 non-null    float64
 13  dp                      258 non-null    float64
 14  ib                      258 non-null    float64
 15  invt                    258 non-null    float64
 16  ivao                    258 non-null    float64
 17  ivst                    258 non-null    float64
 18  lct                     258 non-null    float64
 19  lt                      258 non-null    float64
 20  ni                      258 non-null    float64
 21  ppegt                   258 non-null    float64
 22  pstk                    258 non-null    float64
 23  re                      258 non-null    float64
 24  rect                    258 non-null    float64
 25  sale                    258 non-null    float64
 26  sstk                    258 non-null    float64
 27  txp                     258 non-null    float64
 28  txt                     258 non-null    float64
 29  xint                    258 non-null    float64
 30  prcc_f                  258 non-null    float64
 31  dch_wc                  258 non-null    float64
 32  ch_rsst                 258 non-null    float64
 33  dch_rec                 258 non-null    float64
 34  dch_inv                 258 non-null    float64
 35  soft_assets             258 non-null    float64
 36  ch_cs                   258 non-null    float64
 37  ch_cm                   258 non-null    float64
 38  ch_roa                  258 non-null    float64
 39  issue                   258 non-null    int64
 40  bm                      258 non-null    float64
 41  dpi                     258 non-null    float64
 42  reoa                    258 non-null    float64
 43  EBIT                    258 non-null    float64
 44  ch_fcf                  258 non-null    float64
 45  gvkey_year              258 non-null    object
 46  splticrm                258 non-null    object
 47  datadate                258 non-null    datetime64[ns]
 48  cik                     258 non-null    float64
 49  fyrc                    258 non-null    float64
 50  ggroup                  258 non-null    float64
 51  gind                    258 non-null    float64
 52  gsector                 258 non-null    float64
 53  gsubind                 258 non-null    float64
 54  naics                   258 non-null    float64
 55  sic                     258 non-null    float64
 56  spcseccd                258 non-null    float64
 57  conm                    258 non-null    object
 58  tic                     258 non-null    object
 59  cusip                   258 non-null    object
 60  ordinal_ranking         258 non-null    float64
 61  year                    258 non-null    float64
 62  ordinal_ranking_change  258 non-null    float64
dtypes: datetime64[ns](1), float64(53), int64(4), object(5)
memory usage: 129.0+ KB

In [21]:
# Re-merge the p_aaer variable with merged_df5
merged_df6 = pd.merge(merged_df5, p_aaer_df, on='gvkey_year', how='left')
merged_df6.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21393 entries, 0 to 21392
Data columns (total 64 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   fyear                   21393 non-null  int64
 1   gvkey_x                 21393 non-null  int64
 2   misstate                21393 non-null  int64
 3   act                     21393 non-null  float64
 4   ap                      21393 non-null  float64
 5   at                      21393 non-null  float64
 6   ceq                     21393 non-null  float64
 7   che                     21393 non-null  float64
 8   cogs                    21393 non-null  float64
 9   csho                    21393 non-null  float64
 10  dlc                     21393 non-null  float64
 11  dltis                   21393 non-null  float64
 12  dltt                    21393 non-null  float64
 13  dp                      21393 non-null  float64
 14  ib                      21393 non-null  float64
 15  invt                    21393 non-null  float64
 16  ivao                    21393 non-null  float64
 17  ivst                    21393 non-null  float64
 18  lct                     21393 non-null  float64
 19  lt                      21393 non-null  float64
 20  ni                      21393 non-null  float64
 21  ppegt                   21393 non-null  float64
 22  pstk                    21393 non-null  float64
 23  re                      21393 non-null  float64
 24  rect                    21393 non-null  float64
 25  sale                    21393 non-null  float64
 26  sstk                    21393 non-null  float64
 27  txp                     21393 non-null  float64
 28  txt                     21393 non-null  float64
 29  xint                    21393 non-null  float64
 30  prcc_f                  21393 non-null  float64
 31  dch_wc                  21393 non-null  float64
 32  ch_rsst                 21393 non-null  float64
 33  dch_rec                 21393 non-null  float64
 34  dch_inv                 21393 non-null  float64
 35  soft_assets             21393 non-null  float64
 36  ch_cs                   21393 non-null  float64
 37  ch_cm                   21393 non-null  float64
 38  ch_roa                  21393 non-null  float64
 39  issue                   21393 non-null  int64
 40  bm                      21393 non-null  float64
 41  dpi                     21393 non-null  float64
 42  reoa                    21393 non-null  float64
 43  EBIT                    21393 non-null  float64
 44  ch_fcf                  21393 non-null  float64
 45  gvkey_year              21393 non-null  object
 46  splticrm                21393 non-null  object
 47  datadate                21393 non-null  datetime64[ns]
 48  cik                     21393 non-null  float64
 49  fyrc                    21393 non-null  float64
 50  ggroup                  21393 non-null  float64
 51  gind                    21393 non-null  float64
 52  gsector                 21393 non-null  float64
 53  gsubind                 21393 non-null  float64
 54  naics                   21393 non-null  float64
 55  sic                     21393 non-null  float64
 56  spcseccd                21393 non-null  float64
 57  conm                    21393 non-null  object
 58  tic                     21393 non-null  object
 59  cusip                   21393 non-null  object
 60  ordinal_ranking         21393 non-null  float64
 61  year                    21393 non-null  float64
 62  ordinal_ranking_change  21393 non-null  float64
 63  p_aaer                  258 non-null    float64
dtypes: datetime64[ns](1), float64(54), int64(4), object(5)
memory usage: 10.6+ MB

### Export combined dataset (original and credit ratings) to a CSV file

In [22]:
merged_df6.to_csv('FilteredDataJuly19.csv')